<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <display-name>omok</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoom</display-name>
    <servlet-name>CreateRoom</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.CreateRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoom</servlet-name>
    <url-pattern>/CreateRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GamePlay</display-name>
    <servlet-name>GamePlay</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.GamePlay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GamePlay</servlet-name>
    <url-pattern>/GamePlay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitGame</display-name>
    <servlet-name>ExitGame</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.ExitGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitGame</servlet-name>
    <url-pattern>/ExitGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPage</display-name>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.MyPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>/MyPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameHistory</display-name>
    <servlet-name>GameHistory</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.GameHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameHistory</servlet-name>
    <url-pattern>/GameHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.shinhan5goodteam.omok.controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
</web-app>